@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: 0.6rem 1.5rem;
  background: #F0A7A1;
  /* background: #E0AED0; */
  border-radius: 3rem;
  /* border: 2px solid #1995AD; */
  outline: none;
  cursor: pointer;
  border: 1px solid #F08080;
}

.btn a{
  color: #4B4643;
  color: white;
  font-weight: 600;
}

.btn-hover{
  background: lightblue;
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

body{
  background: #FAF6F1;
}

/* .sign-up-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up-form{
  
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
} */

label{
  
  margin-top: 1rem;
}

input{
  width: 100%;
  padding: 4px;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.tab {
  display: none;
}

.choose-container{
  margin-top: 5rem;
  background-color: #FAF6F1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-item{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
} 

.choose-item img{
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


