@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.section{
  padding: 4rem 0 2rem;
}

.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon{
  font-size: 2rem;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
  align-items: center;
}

.btn{
  padding: 0.6rem 1.5rem;
  background: pink;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn a{
  color: white;
  font-weight: 500;
}

.btn-hover{
  background: lightblue;
}

img, video{
  width: 100%;
  height: auto;
}

input{
  font-size: 100%;
}

body{
  background: lightcoral;
}

/* .sign-up-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up-form{
  
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
} */

label{
  
  margin-top: 1rem;
}

input{
  width: 100%;
  padding: 4px;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.tab {
  display: none;
}


