.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(228, 171, 171, 0.144);
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    video{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }

    .homeContent{
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: white;
        z-index: 100;

        .textDiv{
            padding: 2rem 0;

            .smallText{
                font-size: 13px;
                text-transform: uppercase;
            }

            .homeTitle{
                position: relative;
                font-size: 1rem;
            }
        }

    }
}