.main{
    width: 100%;
    position: relative;
    background-color: #FAF6F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    z-index: 10;

    .steps-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #eee6da;
        width: 95%;
        border-radius: 10px;
        padding: 2rem;

        .secTitle{
            .title{
                position: relative;
                width: max-content;
                // margin: 1rem 0;
                z-index: 2;
                font-size: 2.3rem;  
                color: #4B4643;
            }
        }

        .secContent{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 1rem;

            .singleCard{
                width: 18rem;
                height: 18rem;
                padding: 1rem;
                border-radius: 15px;
                overflow: hidden;
                border: 1.6px solid #817D7A;
                // box-shadow: 0 2px 4px rgba(100, 100, 101, 0.549);
                margin: 0.5rem 3rem;
                background: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .card-icon{
                    font-size: 5rem;
                    width: 100%;
                    color: #4B4643;
                    border-radius: 10px;
                    text-align: center;
                    margin-top: 0.5rem;
                }

                .cardInfo{
                    padding: 1rem;
                    text-align: center;
                    font-size: 1.1rem;
                    color: #4B4643;
            }
        }

        
    }
    }

    

        // justify-content: center;
        // gap: 1.5rem;

        // .singleCard{
        //     height: 80%;
        //     display: grid;
        //     border-radius: 10px;
        //     align-items: center;
        //     box-shadow: 0 2px 4px rgba(100, 100, 101, 0.549);
        //     overflow: hidden;
        //     margin: 0; //2rem

        //     .imageDiv{
        //         height: 100%;
        //         width: 100%;
        //         overflow: hidden;
               

        //         img{
        //             height: 100%;
        //             width: 100%;
        //             object-fit: cover;
        //         }
        //     }

        //     .cardInfo{
        //         padding: 1rem;

        //         .desTitle{
        //             color: black;
        //             font-size: 1.25rem;
        //         }

        //         .desc{
        //             font-size: 13.5px;
        //             font-weight: 500;

        //         }
        //     }
        // }

    
}

// @media screen and (min-width: 768px){
//     .secContent{
//         grid-template-columns: repeat(3, 1fr);

//         .singleCard{
//             height: auto;
//             margin: 1rem;
//         }
//     }
// }

// @media screen and (min-width: 900px){
//     .secContent{
        
//         .singleCard{
//             height: auto;
//             margin: 2rem;
//         }
//     }
// }