.footer {
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  border-radius: 10px;
  z-index: 100;
  background-color: #cbb590;
  padding: 2rem 1.6rem;
  flex-direction: column;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.footer .secContent {
  flex-direction: column;
}

.footer-logo{
  color: black;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.footer-logo .icon{
  font-size: 25px;
  color: lightcoral;
  transform: translateY(5px);
}
.footer-logo span {
  color: lightcoral;
}

.footer-logo h4{
  font-weight: 500;
  margin-bottom: 1rem;
  /* margin-left: 1.8rem; */
}
.footer .secContent .contactDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  row-gap: 2rem;
  /* justify-content: space-between; */
  gap: 0rem;
}
.footer .secContent .contactDiv .text {
  color: black;
}
.footer .secContent .contactDiv .text h3 {
  font-size: 1.8rem;
}
.footer .secContent .contactDiv .text p {
  font-size: 1rem;
}
.footer .secContent .contactDiv .inputDiv {
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}
.footer .secContent .contactDiv .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 3rem;
  border: 1px solid black;
  outline: none;
  background: transparent;
  color: white;
  
}
.footer .secContent .contactDiv .inputDiv input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.footer .secContent .contactDiv .inputDiv input::placeholder {
  color: white;
  opacity: 0.5;
}
.footer .secContent .contactDiv .inputDiv .btn {
  width: 100%;
  justify-content: center;
  color: white;
  font-weight: 500;
  gap: 0.5rem;
}
.footer .secContent .contactDiv .inputDiv .btn .icon {
  font-size: 18px;
} 

.copyright{
  z-index: 100;
}

@media screen and (min-width: 500px) {

  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 3.5rem;
  }

  .footer .secContent{
    flex: 2;
  }
  .footer .useful-links{
    flex: 1;
  }
  .footer .secContent .contactDiv {
    justify-content: center;
    align-items: start;
    /* justify-content: space-evenly; */
  }

  .footer .secContent .contactDiv .text {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .footer .secContent .contactDiv .inputDiv {
    /* width: -moz-max-content; */
    /* width: max-content; */
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer .secContent .contactDiv .inputDiv input {
    width: 50%;
    margin-top: 1.4rem;
  }
  .footer .secContent .contactDiv .inputDiv .btn {
    width: -moz-max-content;
    width: max-content;
  }
}