
.dashboard-container {
    display: flex;
    height: auto;
    width: 94%;
    margin: 8rem auto;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .user-navbar {
    flex: 1;
    width: 18%;
    background-color: #F0E6D6;
    padding: 3rem 1rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    height: 75vh;
    position: fixed;
  }
 
  .dashboard-navbar{
    width: 100%;
  }

  .dashboard-navbar button{
    width: 100%;
    color: lightcoral;
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .dashboard-navbar .logout-button{
    background-color: rgb(195, 87, 87);
    color: white;
  } 
  
  .user-navbar ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  
  .user-navbar li {
    margin-bottom: 2rem;
  }
  
  .user-dashboard-content {
    flex: 5;
    padding: 20px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 10px;
    width: calc(100% - 250px);
    margin-left: 19rem; 
    padding: 20px;
    /* background-color: #F0E6D6; */
    flex-grow: 1;
    height: max-content;
    overflow-y: auto;
  }

  .dash-user{
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .table-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .my-donations-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .my-donations-table th, .donations-table td {
    border: none;
    padding: 0.8rem 0.5rem;
    text-align: left;
  }
  
  .my-donations-table th{
    color: grey;
  }
  .my-donations-table td{
    padding: 0.8rem 0.5rem;
  }
  
  .my-donations-table th {
    border-top: 2px solid grey; 
    border-bottom: 2px solid grey; 
    border-left: none;
    border-right: none; 
  }

  
  .circles-container{
    width: 9.5rem;
    height: 2.3rem; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .item-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #C35757;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.circle-info {
    display: none;
    text-align: center;
}

.item-circle.active {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(184, 91, 91);
    z-index: 1;
}

.item-circle.hide {
  display: none;
}

.item-circle.active .circle-info {
  display: block;
}
  
.delete-item{
  font-size: 1.5rem;
  color: #C35757;
  border: 1px solid #C35757;
  border-radius: 50px;
  text-align: center;
  height: 2rem;
  width: 2rem;
  background: transparent;
  cursor: pointer;
}

.delete-item:hover{
  color: white;
  border: 1px solid #C35757;
  background: #C35757;
}

.my-donations-table .pending {
  padding: 0; /* Remove padding for this specific cell */
}
 
.pending {
  color: seagreen;
  margin-top: 23px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(158, 188, 197);
  padding: 0; /* Adjust this padding as needed */
}

.pending svg {
  margin-right: 5px;
  color: seagreen; /* Space between icon and text */
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
 
.dialog-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-buttons button:hover {
  background-color: #ddd;
}
