.user-dash{
  background-color: #d8cebd;
  padding: 1.5rem 0.7rem;
  height: 100vh;
}

.back-home .home-icon .icon{
  font-size: 0.7rem;
  margin-right: 0.3rem;
  
}
.back-home .home-icon{
  font-size: 0.6rem;
  color: black;
  text-decoration: underline;
}

.nav-tag{
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  
}

.nav-tag-icon{
  color: lightcoral;
}
.nav-tag span{
  color: lightcoral;
}

.user-dash .dashboard-container {
    display: flex;
    width: 94%;
    margin: 2rem auto;
    border-radius: 10px;
    height: 88vh;
  }
  
  .user-navbar {
    flex: 1;
    background-color:#ECE5DA;
    padding: 2rem 1rem;
    border-radius: 10px;
    min-width: 10rem; 
    max-width: 20rem;
    margin-right: 30px; 
  }

  .user-menu{
    display: none;
  }
  .close-menu{
    display: none;
  }
 
  .dashboard-navbar{
    width: 100%;
  }

  .dashboard-navbar button{
    width: 100%;
    color: lightcoral;
    background: transparent;
    border: none;
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    border-radius: 40px;
    cursor: pointer;
  }

  .dashboard-navbar button:hover{
    background-color: white;
    border-radius: 40px;
  }

  .dashboard-navbar button.active {
    background-color: white;
  }

  .dashboard-navbar .logout-button{
    background-color: rgb(195, 87, 87);
    color: white;
    border-radius: 40px;
  } 

  .dashboard-navbar .logout-button:hover{
    background-color: rgb(163, 71, 71);
    color: white;
  } 
  
  .user-navbar ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
  }
  
  .user-navbar li {
    margin-bottom: 2rem;
  }
  
  .user-dashboard-content {
    flex: 5;
    padding: 20px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 10px;
    overflow-y: auto;
    min-width: 300px; 
    background-color: rgb(234, 234, 234);
  }

  .dash-user{
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .table-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .my-donations-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .my-donations-table th, .donations-table td {
    /* border: none; */
    border: 1px solid black;
    padding: 0.8rem 0.3rem;
    text-align: left;
  }
  
  .my-donations-table th{
    color: grey;
  }
  .my-donations-table td{
    padding: 0.8rem 0.3rem;
    /* border: 1px solid black; */
  }

  .my-donations-table th:nth-child(1),
.my-donations-table td:nth-child(1) {
  width: 190px; 
  padding: 0.8rem 0.1rem;
}
.my-donations-table th:nth-child(2),
.my-donations-table td:nth-child(2) {
  width: 200px; 
  padding: 0.8rem 0.1rem;
  /* text-align: center; */
}
.my-donations-table th:nth-child(3),
.my-donations-table td:nth-child(3) {
  width: 40px; 
  padding: 0.8rem 0.1rem;
  padding-right: 0.7rem;
}
.my-donations-table th:nth-child(4),
.my-donations-table td:nth-child(4) {
  width: 200px; 
  padding: 0.8rem 0.1rem;
  /* text-align: center; */
}
.my-donations-table th:nth-child(5),
.my-donations-table td:nth-child(5) {
  width: 120px; 
  padding: 0.8rem 0.1rem;
  /* text-align: center; */
}
.my-donations-table th:nth-child(6),
.my-donations-table td:nth-child(6) {
  width: 100px; 
  /* padding: 0.8rem 0.1rem; */
  /* text-align: center; */
}
.my-donations-table th:nth-child(7),
.my-donations-table td:nth-child(7) {
  width: 120px; 
  padding: 0.8rem 0.1rem;
  text-align: center;
}
.my-donations-table th:nth-child(8),
.my-donations-table td:nth-child(8) {
  width: 80px; 
  padding: 0.8rem 0.1rem;
  text-align: center;
}
  .my-donations-table th {
    border-top: 2px solid grey; 
    border-bottom: 2px solid grey; 
    border-left: none;
    border-right: none;
    /* border-left: 1px solid black;
  border-right: 1px solid black;   */
  }
  .circles-container{
    width: 8.5rem;
    height: 2.3rem; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .item-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #C35757;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    margin: 0 1px;
}

.circle-info {
    display: none;
    text-align: center;
}

.item-circle.active {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(184, 91, 91);
    z-index: 1;
}

.item-circle.hide {
  display: none;
}

.item-circle.active .circle-info {
  display: block;
}
  
.delete-item{
  font-size: 1.5rem;
  color: #C35757;
  border: 1px solid #C35757;
  border-radius: 50px;
  text-align: center;
  height: 2rem;
  width: 2rem;
  background: transparent;
  cursor: pointer;
}

.delete-item:hover{
  color: white;
  border: 1px solid #C35757;
  background: #C35757;
}

.my-donations-table .pending {
  padding: 0; /* Remove padding for this specific cell */
}
 
.pending {
  color: seagreen;
  margin-top: 23px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(158, 188, 197);
  padding: 0; /* Adjust this padding as needed */
}

.pending svg {
  margin-right: 5px;
  color: seagreen; /* Space between icon and text */
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
 
.dialog-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-buttons button:hover {
  background-color: #ddd;
}

@media screen and (max-width: 1000px){
  .dashboard-container{
    flex-direction: column;
  }
  .user-menu{
    display: block;
    width: max-content;
    border: 1px solid black;
    padding: 0rem 0.6rem;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .user-navbar{
    position: absolute;
    height: 100vh;
    width: 80%;
    /* border-radius: 1rem; */
    top: 0;
    left: -100%;
    padding: 1rem;
    transform: translateX(0);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: left 0.3s ease-in-out;
    

  }
  .nav-visible{
      left: 0rem;
  }

  .close-menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: lightcoral;
  }
  .close-menu:hover {
    color: black;
  }
}

