.about-container{
    margin: 9rem 7rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.about-container h4{
    font-size: 2rem;
}

.about-container span{
    color: #F08080;
}


.about-container p{
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 768px){
    .about-container{
        margin: 8rem 3rem;
        padding: 1.5rem;
    }

    .about-container h4{
        font-size: 1.3rem;
    }
}