.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .sign-up-form {
    width: 300px;
    padding: 20px;
    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .error-message {
    color: red;
    margin-top: 0rem;
    font-size: 0.875em;
  }
  
  /* Css/UserForm.css */
  
  button:disabled {
    background-color: #ccc; /* Light gray background */
    cursor: not-allowed;   /* Change cursor to indicate non-interactive */
    opacity: 0.6;          /* Make the button semi-transparent */
  }
  
  /* Style for button container */
  .userForm-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Ensure buttons have some padding and margin for spacing */
  /* button {
    padding: 10px 20px;
    margin: 5px;
  } */
  
  .userFormButton {
    width: 100%;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .userFormButton:hover {
    background-color: #2980b9;
  }