.navBarSection {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent; /* Adjust transparency as needed */
  backdrop-filter: blur(6px); 
  height: 6.5rem;
}
 
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ece5da;
  /* background-color: whitesmoke; */
  width: 95%;
  padding: 0.5rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  border-radius: 50px;
  margin: 1.5rem 0;
}
.header .logo {
  color: black;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}
.header .logo .icon {
  font-size: 25px;
  color: lightcoral;
  transform: translateY(5px);
}
.header .logo span {
  color: lightcoral;
}

.navLists .btn-profile-icon{
  color: black;
  /* background-color: lightcoral; */
  /* border: 2px solid rgb(146, 57, 57); */
  border: 2px solid black;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  /* background-color: white; */
}

/* App.css */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 9rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 0.3rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.drop-options{
  border-radius: 10px;

}


@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: white;
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.5s ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: lightcoral;
  }
  .header .navBar .navLists .btn {
    margin-top: 1rem;
  }
  .header .navBar .navLists .btn a {
    font-weight: 600;
    color: white;
  }
  .header .navBar .closeNavBar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: lightcoral;
  }
  .header .navBar .closeNavBar:hover {
    color: black;
  }
  .header .activeNavbar {
    top: 7rem;
  }
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: lightcoral;
}
.header .toggleNavbar:hover.icon {
  color: white;
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavBar {
    display: none;
  }
  .header {
    padding: 0.5rem 1rem;
    /* background-color: white; */
  }
  .header .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navLists .navItem .navLink {
    padding: 0 0.7rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: black; 
  }
  .header .navLists .navItem .navLink:hover {
    color: lightcoral;
  }
}